---
import BaseLayout from "../layouts/BaseLayout.astro";
import Prose from '../components/Prose.astro';
const title = "Welcome Here"
const description = "Welcome to Listening Refuge"
---

<BaseLayout
        title={title}
        description={description}


>
    <Prose class="px-4"><h1>{title}</h1>


        <div class={`  pb-3`}>


            <p>Hi, I am gonna write this blog mostly for myself. This blog will store the music I enjoy for future
                reference.</p>


            <p>I am a fan of <a href="https://www.google.com/search?q=plutchik%27s+wheel+of+emotion">Plutchik's Wheel of
                Emotions</a>. I will use it to categorize emotions for music.</p>


            <p>You can follow me on: <a href="https://x.com/listeningrefuge" rel="noopener noreferrer"
                                        target="_blank">X</a>, or
                <a href="https://www.instagram.com/listeningrefuge" rel="noopener noreferrer" target="_blank">
                    Instagram</a>, if you want.</p>
        </div>
    </Prose>


</BaseLayout>
