---
import BaseLayout from "../layouts/BaseLayout.astro";
import Prose from '../components/Prose.astro';
const title = "Welcome"
const description = "Welcome to Listening Refuge"
---

<BaseLayout
        title={title}
        description={description}


>
    <Prose><h1>{title}</h1>


        <div class={` px-3 pb-3`}>


            <p>Thanks for stopping by 😊. What music do you enjoy the most? Personally, I am drawn to songs that
                bring me comfort and healing, or gently help me grow.</p>

            <p>I'll be using this as a safe space to reflect on
                these songs – to navigate through difficult feelings, to dive into moments of happiness, peace and joy;
                and to explore new perspectives I might carry into my life.</p>

            <p>I hope you will enjoy some of the tunes shared here, and perhaps find the posts meaningful in some
                way.</p>

            <p>You can follow me on: <a href="https://x.com/listeningrefuge" rel="noopener noreferrer"
                                        target="_blank">X</a>, or
                <a href="https://www.instagram.com/listeningrefuge" rel="noopener noreferrer" target="_blank">
                    Instagram</a>.</p>
        </div>
    </Prose>


</BaseLayout>
