---
import BaseLayout from "../layouts/BaseLayout.astro";
import Prose from '../components/Prose.astro';
const title = "About Listening Refuge"
const description = "What is Listening Refuge"
---

<BaseLayout
        title={title}
        description={description}


>
    <Prose><h1>{title}</h1>


        <div class={` px-3 pb-3`}>

            <h2>What is Learning Refuge?</h2>

            <p>Listening Refuge is a space where I share calming,
                soothing music, hoping the music brings moments of stillness as we navigate the ebb and flow.</p>

            <h2>What makes Learning Refuge special?</h2>

            <p>The music here is not chosen based on numbers or names, but by how it makes us feel - calm and uplifted.
                And
                that is what matters the most.</p>

            <h2>Types of music covered here?</h2>

            <p>Hmm... I’ve been listening to folk-pop recently. Happy, bluesy tunes are great too. Soul is great as
                well.
                Soft
                rock and soft pop are fine. Oh, country-pop music is quite okay too -no rap or metal songs. I like any
                easy-listening music. Also, just to let you know, I’ll try to share songs that at least sound good. I
                don’t
                want
                the music to deafen you or bore the crap out of you.</p>

            <h2>Connect with me</h2>

            <p>You can follow me at: <a href="https://x.com/learningrefuge" target="_blank">X</a>, or
                <a href="https://www.instagram.com/learningrefuge" target="_blank">
                    Instagram</a>. I would love to hear your thoughts. Tell me what music calms you
                or
                brings you joy. Feel free to let me know how I can improve.</p>

            <p>All the Best - enjoy reading the blog and have fun with the music.</p></div>
    </Prose>


</BaseLayout>
