---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../consts';
---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
</head>
<body>
<Header/>
<main>
    <h1>Hi — I'm Ben.</h1>
    <p>Music brings me comfort, clarity, and peace.</p>
    <p>
        This blog is a space where I reflect on songs that resonate with me —
        some bring calm, some offer emotional release, and others simply feel
        grounding in ways I can’t always explain.
    </p>
    <p>
        I’m especially drawn to folk and blues, but I also find myself listening
        to jazz, rock, and indie pop. The sound might shift, but the feeling I
        look for is often the same: something honest, something steady.
    </p>
    <p>
        This isn’t a place for music reviews. It’s more like a personal journal —
        a way to stay close to what I’m hearing, and what it brings up in me.
    </p>
    <p>Thanks for being here.😊</p>
</main>
<Footer/>
</body>
</html>
