---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../consts';
---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
</head>
<body>
<Header/>
<main>
    <h2>About Me</h2>
    <p>Hi, I’m Ben — a music lover who finds solace and clarity through songs. This blog, the <em>Tunequil Journal</em>,
        started as a personal space to hold onto the feelings music stirs in me.</p>
    <p>While I’m especially drawn to singer-songwriter and folk tunes for their honest storytelling and steady emotions,
        I also enjoy dipping into jazz, rock, indie pop, or any other genre depending on my mood. For me, it’s never
        just about the style — it’s about the genuine feeling the music carries.</p>

    <h3>The Story Behind Tunequil Journal</h3>
    <p>The name <em>Tunequil</em> is a play on the word “tranquil,” reflecting how music brings calm and peace, creating
        a soothing space through melodies and moods.</p>

    <h3>Purpose of Tunequil Journal</h3>
    <p>I use this space to think about why certain songs make me feel good. Mostly for myself, but I hope it helps you
        get a sense of how I connect with music too.</p>

    <h3>A Little More About Me</h3>
    <p>Music has been a part of my life for as long as I can remember — whether it’s through quiet moments with
        headphones or sharing tunes with friends. I hope this journal not only captures my journey but also invites you
        to reflect on the songs that move you.</p>

    <p>Thanks for joining me here to explore the music that shapes these moments. 😊</p>
</main>
<Footer/>
</body>
</html>
