---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../consts';
---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
</head>
<body>
<Header/>
<main>
    <h1>Welcome to Tunequil Journal</h1>
    <p>This is a space where I reflect on songs that bring me comfort, clarity, or emotional release. Some calm me down,
        others lift me up — all of them help me feel more grounded.</p>
    <p>I’m especially drawn to singer-songwriter and folk tunes, but I also dip into jazz, rock, indie pop and also
        other genres depending
        on the moment. It's not about genre — it's about the feeling.</p>
    <p>Thanks for being here. 😊</p>
</main>
<Footer/>
</body>
</html>
