---
const {imageAuthor, imageAuthorLink, imageSource, imageSourceLink} = Astro.props
---


<small class="p-4 sm:py-6 sm:px-0">
    <span>Photo by </span><a href={imageAuthorLink}>{imageAuthor}</a>
    <span>on </span><a href={imageSourceLink}>{imageSource}</a>
</small>


<!--<style>-->
<!--    small {-->
<!--        display: block;-->
<!--        margin-bottom: 18px;-->
<!--        margin-top: 18px;-->
<!--        text-align: center;-->
<!--    }-->

<!--    small a {-->
<!--        color: black;-->
<!--    }-->

<!--</style>-->