---
const {imageAuthor, imageAuthorLink, imageSource, imageSourceLink} = Astro.props
---


<small class="">
    <span>Photo by </span><a href={imageAuthorLink}>{imageAuthor}</a>
    <span>on </span><a href={imageSourceLink}>{imageSource}</a>
</small>

