---
const {href, text} = Astro.props
---
<button class="px-3 list-none py-2 rounded-md bg-sky-600   ">
    <a
            class="text-stone-50 no-underline transition duration-150  block active:scale-95 border-b-2 border-b-transparent active:border-b-2 hover:border-b-stone-50 "
            href={href}>{text}</a>
</button>