---
import {getCollection} from "astro:content";

import BaseLayout from "./BaseLayout.astro";
import Prose from "../components/Prose.astro";
import Button from "../components/Button.astro";
import {getBlogPosts} from "../lib/content";


const allPosts = await getBlogPosts();
const uniqueEmotions = [...new Set(allPosts.map((post) => post.data.emotions).flat())];
---


<BaseLayout title="Song emotions" description="Find songs with a particular emotion">
    <Prose>
        <div class=` p-3 rounded-md shadow-sm mb-6`>
            <h1>Find songs with a particular emotion</h1>
            <ul class="flex flex-wrap gap-2 p-0">
                {uniqueEmotions?.map((emotion: any) =>
                        <li class="list-none px-0" role="option"
                        >
                            <Button href={`/emotions/${emotion}/`} text={emotion}/>

                        </li>)}
            </ul>
        </div>
    </Prose>

</BaseLayout>