---
import {getCollection} from "astro:content";

import BaseLayout from "./BaseLayout.astro";
import Prose from "../components/Prose.astro";
import {COLOR_SECONDARY, COLOR_SECONDARY_SM} from "../consts";

const allPosts = await getCollection("blog");
const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---


<BaseLayout title="Music tags" description="View the tags of music posts">
    <Prose>
        <div class=`${COLOR_SECONDARY_SM} p-3 rounded-md shadow-sm mb-6`>
            <h1>Tags of my Posts</h1>
            <h2>Explore topics that interest you</h2>

            <ul class="flex flex-wrap gap-2 p-0">
                {uniqueTags?.map((tag: any) =>
                        <li role="option" class="px-3 list-none py-2 rounded-md bg-emerald-300 border-black"><a
                                class="no-underline"
                                href={`/tags/${tag}/`}>{tag}</a>
                        </li>)}
            </ul>
        </div>
    </Prose>

</BaseLayout>